<%= simple_form_for(@assessment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :section %>
    <%= f.association :tasks %>
    <%= f.input :title, placeholder: 'Defaults to Task title' %>
    <%= f.input :assigned_date %>
    <%= f.input :due_date %>
    <%= f.input :value %>

    <%#= f.input :weight %>
    <%#= f.input :autoscore %>
    <%#= f.input :category %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
