<p>
  <strong>Title:</strong>
  <%= @assessment.title %>
</p>

<p>
  <strong>Assigned:</strong>
  <%= @assessment.assigned_date.to_date %>

  <strong>Due:</strong>
  <%= @assessment.due_date.to_date %>
</p>

<p>
  <strong>Value:</strong>
  <%= @assessment.value %>
</p>

<%# p>
  <strong>Weight:</strong>
  <%= @assessment.weight %>
</p %>

<p>
  <strong>Autoscore:</strong>
  <%= @assessment.autoscore %>
</p>

<p>
  <strong>Category:</strong>
  <%= @assessment.category %>
</p>

<p>
  <strong>Section:</strong>
  <%= @assessment.section.name %>
</p>

<p>
  <strong>Illuminate Name:</strong>
  <br><%= illuminate_assessment_name(@assessment) %>
</p>

<p><%= illuminate_assessment_description(@assessment) %></p>

<%= link_to 'Edit', edit_assessment_path(@assessment) %> |
<%= link_to 'Back', assessments_path %>
