<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= markdown(@task.body) %>
</p>

<p>
  <strong>Category:</strong>
  <%= @task.category %>
</p>

<p>
  <strong>Time required:</strong>
  <%= @task.time_required %>
</p>

<div class='task-index-edit-links'>
  <% if policy(@task).edit? %>
    <%= link_to 'Edit', edit_task_path(@task) %> |
  <% end %>
  <% if policy(@task).destroy? %>
    <%= link_to 'Delete', [@user, @task], method: :delete,
      data: { confirm: 'Are you sure?' } %> |
  <% end %>
  <%= link_to 'Back', tasks_path %>
</div>
