<div class='task-container'>
  <%= render 'display_task' %>
  <div class='objectives-container'>
    <h4>Strands</h4>
    <%= render 'objectives/strands_index' %>
  </div>
  <div class='rubric-container'>
    <h4>Rubric</h4>
    <%= render 'rubrics/index' %>
  </div>
</div>

<div class='clear task-show-edit-links'>
  <% if policy(@task).edit? %>
    <%= link_to 'Edit', edit_task_path(@task) %> |
  <% end %>
  <% if policy(@task).destroy? %>
    <%= link_to 'Delete', [@user, @task], method: :delete,
      data: { confirm: 'Are you sure?' } %> |
  <% end %>
  <%= link_to 'Back', :back %>
</div>
