<%
 # app/views/tasks/show.html.erb
 %>

<div class='main task-container'>
  <div class='task-show-edit-links'>
    <%= render 'task_show_edit_links' %>
  </div>

  <br>

  <%= render 'display_task' %>

  <div class='task-show-edit-links'>
    <%= render 'task_show_edit_links' %>
  </div>
</div>

<div class='sidebar task-sidebar'>
  <% if current_user.teacher? %>
    <div class='objectives-container'>
      <h4>Strands</h4>
      <%= render 'objectives/strands_index' %>
    </div>
    <div class='rubric-container'>
      <h4>Rubric</h4>
      <%= render 'rubrics/index' %>
    </div>
  <% end %>
</div>
