<div class='score-mini-form'>
  <%# XXX: setting drop here is asking for trouble. Set in model? %>
  <% score = Score.for(
    post: @post, strand: strand, user: student, assessment: assessment) %>
  <% score.score = num %>

<%= simple_form_for score, horizontal_form.merge(remote: true) do |f| %>
    <%= f.submit num,
                class: "btn btn-score score-#{num} #{ if !score.changed? then "current" end }",
                "data-strand" => strand.id,
                "data-num" => num
    %>

    <%= f.input :strand_id, as: :hidden %>
    <%= f.input :user_id, as: :hidden %>
    <%= f.input :assessment_id, as: :hidden %>
    <%= f.input :post_id, as: :hidden %>
    <%= f.input :score, as: :hidden %>
  <% end %>
</div>
