<div class='score-mini-form'>
  <%# XXX: setting drop here is asking for trouble. Set in model? %>
  <% score = Score.for(strand: strand, user: student, assessment: assessment) %>
  <% score.score = num %>

  <%= simple_form_for score, horizontal_form do |f| %>
    <%= f.submit num, class: "btn #{if !score.changed? then "btn-score score-#{num}" else "btn-default" end }" %>

    <%= f.input :strand_id, as: :hidden %>
    <%= f.input :user_id, as: :hidden %>
    <%= f.input :assessment_id, as: :hidden %>
    <%= f.input :score, as: :hidden %>
  <% end %>
</div>
