<p id="notice"><%= notice %></p>

<h1>Scores</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Score</th>
      <th>Drop</th>
      <th>Note</th>
      <th>User</th>
      <th>Assessment</th>
      <th>Strand</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.score %></td>
        <td><%= score.drop %></td>
        <td><%= score.note %></td>
        <td><%= score.user.name %></td>
        <td><%= score.assessment.title %></td>
        <td><%= score.strand %></td>
        <td><%= link_to 'Show', score %></td>
        <td><%= link_to 'Edit', edit_score_path(score) %></td>
        <td><%= link_to 'Destroy', score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Score', new_score_path %>
