<%= simple_form_for @course do |f| %>
  <% #byebug %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@course.errors.count, "error") %> prohibited
        this course from being saved:
      </h2>
      <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.input :title %>

    <%= f.input :short_title %>
  </p>


  <div class='units'>
    <h3>Units</h3>

    <div class="form-inputs">
      <%= f.association :units, include_blank: true %>
    </div>
  </div>

  <div class='sections'>
    <h3>Sections</h3>

    <%= f.fields_for :sections do |section_form| %>
      <%= render 'section_fields', f: section_form %>
    <% end %>
    <%= link_to_add_association 'add a section', f, :sections %>
  </div>

  <p>
    <%= f.submit %>
  </p>

<% end %>
