<%= simple_form_for [@user, @post], horizontal_form do |f| %>
    <div class="row">
      <div class="col-sm-7">
        <%= f.input :published, inline_label: 'Publish' %>
        <%= f.input :title %>
        <%= f.input :body, as: :text, input_html: {rows: 16} %>
        <div class="row">
          <div class='col-sm-offset-3 col-sm-9'>
            <%= f.button :submit, class: 'btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="list-group images">
          <%= f.simple_fields_for :images do |image_form| %>
              <%= render 'image_fields', f: image_form %>
          <% end %>
          <div>
            <%= link_to_add_association 'add an image', f, :images, class: 'list-group-item list-group-item-success' %>
          </div>
        </div>
      </div>
    </div>
<% end %>