<%
 # app/views/posts/_form.html.erb
 %>

<%= simple_form_for [@user, @post], horizontal_form do |f| %>
    <div class="row">
      <div class="col-sm-7">
        <%= f.input :title %>
        <%= f.input :body, as: :text, input_html: {rows: 16} %>
        <div class="row">
          <div class='col-sm-offset-3 col-sm-9'>
            <%= f.button :submit, class: 'btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <%= f.input :published, inline_label: 'Publish' %>
        <%= render 'assessment_picker', f: f %>
        <div class='post-instructions collapsible'>
          <% if @post.assessment_id %>
            <%= render 'layouts/collapsible_wrapper',
              label: 'Instructions',
              partial: 'tasks/task_instructions',
              collapse: @post.body == nil ? false : true,
              params: { task: @post.assessment.tasks[0] },
              target: 'instructions'
            %>
            <div class='post-rubric'>
              <%= render 'layouts/collapsible_wrapper',
                label: 'Rubric',
                partial: 'rubrics/index',
                params: {},
                collapse: true,
                target: 'rubric'
              %>
          <% else %>
          <p>Instructions will be visible here if you select the assessment and
          click on the Save Post button. That will save the post, then if you
          come back to edit it, the instructions will appear here.</p>
          <% end %>
        </div>
        <h3>Images</h3>
        <div class="list-group images">
          <%= f.simple_fields_for :images do |image_form| %>
              <%= render 'image_fields', f: image_form %>
          <% end %>
          <div>
            <%= link_to_add_association 'add an image', f,
                  :images, class: 'list-group-item list-group-item-success' %>
          </div>
        </div>
      </div>
    </div>
<% end %>
