<%
 # app/views/posts/_form.html.erb
 %>

<%= simple_form_for [@user, @post], horizontal_form do |f| %>
    <div class="row">
      <div class="col-md-7">
        <%= f.input :title %>
        <%= f.input :body, as: :text, input_html: {rows: 16} %>
        <div class="row">
          <div class='col-md-offset-3 col-md-4'>
            <%= f.button :submit, class: 'btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <%= render 'assessment_picker', f: f %>
        <%= f.input :published, inline_label: 'Publish' %>
        <div class='post-instructions collapsible'>
          <% if @post.assessment_id %>
            <%= render 'layouts/collapsible_wrapper',
              label: 'Instructions',
              partial: 'tasks/task_instructions',
              collapse: @post.body == nil ? false : true,
              params: { task: @post.assessment.tasks[0] },
              target: 'instructions'
            %>
            <div class='post-rubric collapsible'>
              <%= render 'layouts/collapsible_wrapper',
                label: 'Rubric',
                partial: 'rubrics/index',
                params: {},
                collapse: true,
                target: 'rubric'
              %>
          <% else %>
          <p>Instructions will be visible here if you select the assessment and
          click on the Save Post button. That will save the post, then if you
          come back to edit it, the instructions will appear here.</p>
          <% end %>
        </div>
        <br><br><br>
        <div class='post-images collapsible'>
          <%= render 'layouts/collapsible_wrapper',
            label: 'Images',
            partial: 'post_images',
            params: { f: f },
            collapse: true,
            target: 'images'
          %>
        </div>
      </div>
    </div>
<% end %>
