<div class='image_field nested-fields'>
<% if f.object.file.exists? %>
  <%= image_tag f.object.file.url, width: "200px" %>
<% else %>
  <div class="field">
    <%= f.label :file %>
    <%= f.file_field :file %>
  </div>
<% end %>
<br>
<br>
<div class="field">
  <%= f.label :caption %>
  <%= f.text_area :caption, rows: 4 %>
</div>
<div class="field">
  <%= f.label :maker, "Photographer" %>
  <%= f.text_field :maker %>
</div>
<div class="field">
  <%= f.label :src, "Source URL" %>
  <%= f.text_field :src %>
</div>

<%= link_to_remove_association "remove this image", f %>
</div>
