<div class='image_field nested-fields list-group-item'>
  <% if f.object.file.exists? %>
    <%= image_tag f.object.file.url, width: "200px" %>
  <% else %>
    <%= f.input :file, as: :file %>
  <% end %>
  <%= f.input :caption, as: :text, html: {rows: 4} %>
  <%= f.input :maker, label: "Photographer" %>
  <%= f.input :src, label: "Source URL" %>
  <div class="row">
    <div class="col-sm-offset-3 col-sm-9">
      <%= link_to_remove_association 'remove this image', f, class: 'btn btn-danger' %>
    </div>
  </div>
</div>
