<div class='post'>
  <div>
    <h1>
      <%= @post.title %>
    </h1>

    <p>
      <% unless @post.published %> <strong> Unpublished </strong> <% end %>
      <% unless @post.user.name == @user.name %>
        By <%= @post.user.name %>
      <% end %>
    </p>

    <div class='post-images'>
      <% @post.images.each do |image| %>
        <figure>
          <%= link_to (image_tag image.file.url, class: 'post-image'),
            image.file.url %>
          <figcaption class='post-image-caption'>
            <p><%= image.caption %>
            <% if image.maker %> By <b><%= image.maker %></b><% end %></p>
            <p class='post-image-link'>
              <% if image.src %><%= link_to 'Image Source', image.src %> <%end%>
            </p>
          </figcaption>
        </figure>
      <% end %>
    </div>

    <p>
      <%= markdown @post.body %>
    </p>
  </div>
  <div class='post-links'>
    <hr>
    <%= link_to 'Edit', [:edit, @user, @post] %> |
    <%= link_to 'Back', [@user, :posts] %>
  </div>
  <div class='post-comments'>
    <h2 class='post-comments'>Comments</h2>
    <% @post.comments.each do |comment| %>
      <div class='post-comment'>
        <div class='post-comment-body'>
          <%= markdown comment.body %>
        </div>
        <div class='row'>
          <div class='col-sm-6'>
            <span class='post-comment-author'>
              <%= comment.user.name %>,
            </span>
            <span class='post-comment-timestamp'>
              <%= comment.created_at %>
            </span>
          </div>
          <% if comment.user == current_user %>
            <%# Also check that this is the most recent comment,
                otherwise editing a comment could change the context of
                other comments. %>
            <div class='post-comment-links col-sm-6'>
              <%= link_to 'Edit', '#' %> |
              <%= link_to 'Delete', '#' %>
            </div>
          <% end %>
        </div>
        <hr>
      </div>
    <% end %>
  </div>
  <%= simple_form_for @post.comments.build, path: comments_path do |f| %>
      <%= f.input :commentable_id, as: :hidden %>
      <%= f.input :commentable_type, as: :hidden %>
      <%= f.input :body, label: false %>
      <%= f.button :submit, 'Add comment' %>
  <% end %>
</div>
