<div class='post'>
<h1>
  <%= @post.title %>
</h1>

<p>
  <% unless @post.published %> <strong> Unpublished </strong> <% end %>
  <% unless @post.user.name == @user.name %>
    By <%= @post.user.name %>
  <% end %>
</p>

<% if @post.parent%>
<p>
  <strong>Parent:</strong>
  <%= @post.parent %>
</p>
<% end %>

<div class='images'>
  <% @post.images.each do |image| %>
    <figure>
      <%= image_tag image.file.url, width: '25%' %>
      <figcaption>
        <p><%= image.caption %><p>
        <% if image.maker %> By <%= image.maker %> <br> <% end %>
        <% if image.src %><%= link_to 'Image Source', image.src %> <%end%>
      </figcaption>
    </figure>
  <% end %>
</div>
<hr>

<p>
  <%= @post.body %>
</p>
</div>
<%= link_to 'Edit', [:edit, @user, @post] %> |
<%= link_to 'Back', [@user, :posts] %>
