<%
 # app/views/posts/show.html.erb
 %>

<div class='post'>

  <div class='post-header'>
    <h1><%= @post.title %></h1>
    <p>
      <% unless @post.published %><strong>Unpublished</strong> <br> <% end %>
      <% unless @post.user.name == current_user.name %>
        By <%= @post.user.name %>
        <br>
      <% end %>
      <%= timestamp(@post) %>
      <% if @post.assessment %>
        <br> For <%= link_to @post.assessment.title, @post.assessment %>
      <% end %>
    </p>
  </div>

  <div class='post-images'>
    <% @post.images.each do |image| %>
      <figure>
        <%= link_to (image_tag image.file.url, class: 'post-image'),
          image.file.url %>
        <figcaption class='post-image-caption'>
          <p><%= image.caption %>
          <% if image.maker %> By <b><%= image.maker %></b><% end %></p>
          <p class='post-image-link'>
            <% if image.src %><%= link_to 'Image Source', image.src %> <%end%>
          </p>
        </figcaption>
      </figure>
    <% end %>
  </div>

  <div class='post-body'>
    <p>
      <%= markdown @post.body %>
    </p>
  </div>

  <div class='post-links'>
    <hr>
    <%= link_to 'Edit', [:edit, @user, @post] %> |
    <%= link_to 'Back', [@user, :posts] %>
  </div>

  <div class='post-comments'>
    <h2 class='post-comments'>Comments</h2>
    <%= render 'comments' %>
  </div>
  <div class='post-new-comment'>
    <%= render 'new_comment' %>
  </div>

</div>

<div class='post-sidebar'>
  <% if current_user.teacher? || current_user.admin? %>
    <div class='post-scores'>
      <% @post&.assessment&.strands&.each do |strand| %>
        <%= render 'scores/mini_form', strand: strand,
                                       student: @post.user,
                                       assessment: @post.assessment
        %>
      <% end %>
    </div>
    <div class='post-rubric'>
      <%= render 'rubrics/index' %>
    </div>
  <% end %>
</div>
