<h1> <%= @unit.title %> </h1>

<p>
  <strong>Duration:</strong>
  <%= @unit.duration %> hours
</p>

<p>
  <strong>Statement of Inquiry:</strong>
  <%= markdown @unit.soi %>
</p>

<p>
  <strong>Notes:</strong>
  <%= markdown @unit.notes %>
</p>

<h2>Tasks</h2>

<% if @unit.tasks.any? %>
  <%= grid @tasks_grid do |g|
    g.column name: 'Title' do  |c|
      link_to c.title, c
    end
    g.column name: 'Description' do  |c|
      markdown truncate c.body.squish, :length => 200, :separator => ' '
    end
    g.column name: 'Estimated Time' do  |c|
      c.time_required
    end
  end %>
  <% # TODO: add list of strands for each task. %>
<% end %>

<% if current_user.teacher? %>
  <%= link_to 'Edit', edit_unit_path(@unit) %> |
<% end %>
<%= link_to 'Back', units_path %>
