<%= simple_form_for @rubric do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :strand,
                      include_blank: '--- Select Objective Strand ---' %>

    <%= f.input :level, as: :radio_buttons,
                item_wrapper_class: :inline,
                collection: Rubric.levels.keys,
                selected: :corroborated %>

    <%= f.input :rubricable, collection: Task.all %>

    <%# TODO: set bands dynamically %>
    <%= f.input :band, as: :radio_buttons,
                collection: [ '0', '1-2', '3-4', '5-6', '7-8' ]%>

    <%= f.input :criterion, input_html: {rows: 8} %>
    <%= f.hidden_field :rubricable_id %>
    <%= f.hidden_field :rubricable_type %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
