<%
 # app/views/home_teacher/_overview_tab.html.erb
 %>
<div class='home-teacher'>
<% @periods.each do |p| %>

  <div class='class-title'>
    <a href=#<%= "S#{p[:session]}P#{p[:period]}" %> data-toggle='collapse'>
      <%= "S#{p[:session]}P#{p[:period]}: #{p[:courses].map do |c| c[:title] end.join ' & '}" %>
    </a>
  </div>

  <div id=<%= "S#{p[:session]}P#{p[:period]}" %> class='collapse'>
    <ul>
      <% p[:courses].each do |c| %>
        <li><%= "#{c[:title]}" %></li>
          <table class='table' data-toggle='table'>
            <%= column_group c %>
            <thead>
              <tr>
                <th data-sortable='true' data-sorter='nameSorter' rowspan='2'>First</th>
                <th data-sortable='true' data-sorter='nameSorter' rowspan='2'>Last</th>
                <th data-sortable='true' rowspan='2'>Last Activity</th>
                <th data-sortable='false' colspan='4'>Objective Summary</th>
                <th data-sortable='false' colspan='<%= number_of_assessments(c) %>'>
                  Assessments
                </th>
              </tr>
              <tr>
                <th data-sortable='true'>A</th>
                <th data-sortable='true'>B</th>
                <th data-sortable='true'>C</th>
                <th data-sortable='true'>D</th>
                <%= assessment_th c %>
              </tr>
            </thead>
            <tbody>
              <% c[:students].each do |s| %>
                <%= render 'overview_student_detail', course: c, student: s %>
              <% end %>
            </tbody>
          </table>
      <% end %>
    </ul>
  </div>

<% end %>
</div>
