<!DOCTYPE html>
<html>
<head>
  <title>MRHS Photo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<%= navbar fixed: :top do %>
  <%= navbar_header brand: 'MRHS Photo', brand_link: '/' %>
  <%= navbar_collapse do %>
    <%= navbar_group do %>
      <%= navbar_dropdown 'Blog' do %>
          <%= navbar_item 'Recent', posts_path %>
          <%= navbar_item 'Prompts', tasks_path %>
      <% end %>
    <% end %>
    <%= navbar_group align: 'right' do %>
      <% if user_signed_in? %>
        <%= navbar_dropdown current_user.name do %>
          <%= navbar_text current_user.email %>
          <%= navbar_dropdown_divider %>
          <%= navbar_item (link_to 'Logout', destroy_user_session_path, method: :delete) %>
        <% end %>
      <% else %>
        <%= navbar_item 'Login', user_omniauth_authorize_path(:google_oauth2) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<div class='container'>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  <% if Rails.env.development? %>
    <p>
      <strong> Become user: </strong>
      <ul>
        <% User.all.each do |user| %>
          <li> <%= link_to user.name, become_user_path(user), method: :post %> </li>
        <% end %>
      </ul>
    </p>
  <% end %>
</div>
</body>
</html>
